[Unit]
Requires=flutter-homescreen.service
After=flutter-homescreen.service

[Service]
ExecStart=/usr/sbin/tflite-examples-init.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
