[Unit]
Requires=flutter-homescreen.service
After=flutter-homescreen.service

[Service]
ExecStart=/usr/bin/tflite-examples-init.py
Restart=on-failure

[Install]
WantedBy=agl-session.target
